# PHASE 1

## 1. Population of each state

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
url="https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population"
df_1=pd.read_html(url)

In [3]:
df_1[1]

   List of states and union territories of India by population(2011 Census of India)  \
                                                                                Rank
0                                              1 (S1)
1                                              2 (S2)
2                                              3 (S3)
3                                              4 (S4)
4                                              5 (S5)
5                                              6 (S6)
6                                              7 (S7)
7                                              8 (S8)
8                                              9 (S9)
9                                            10 (S10)
10                                           11 (S11)
11                                           12 (S12)
12                                           13 (S13)
13                                           14 (S14)
14                                           15 (S15)
15                                           16 (S16)
16                                           17 (S17)
17                                           18 (S18)
18                                           19 (UT1)
19                                           20 (UT2)
20                                           21 (S19)
21                                           22 (S20)
22                                           23 (S21)
23                                           24 (S22)
24                                           25 (S23)
25                                           26 (S24)
26                                           27 (S25)
27                                           28 (S26)
28                                           29 (UT3)
29                                           30 (S27)
30                                           31 (UT4)
31                                           32 (S28)
32                                           33 (UT5)
33                                           34 (UT6)
34                                           35 (UT7)
35                                           36 (UT8)
36                                              Total

                                                                 \
                    State or Union Territory Population[18][19]
0                              Uttar Pradesh          199812341
1                                Maharashtra          112374333
2                                      Bihar          104099452
3                                West Bengal           91276115
4                             Madhya Pradesh           72626809
5                                 Tamil Nadu           72147030
6                                  Rajasthan           68548437
7                                  Karnataka           61095297
8                                    Gujarat           60439692
9                             Andhra Pradesh      49,577,103[b]
10                                    Odisha           41974219
11                                 Telangana           35003674
12                                    Kerala           33406061
13                                 Jharkhand           32988134
14                                     Assam           31205576
15                                    Punjab           27743338
16                              Chhattisgarh           25545198
17                                   Haryana           25351462
18                              NCT of Delhi           16787941
19                         Jammu and Kashmir           12267032
20                               Uttarakhand           10086292
21                          Himachal Pradesh            6864602
22                                   Tripura            3673917
23                                 Meghalaya            2966889
24                                Manipur[c]            2570390
25                                  Nagaland            1978502
26                                       Goa            1458545
27                         Arunachal Pradesh            1383727
28                                Puducherry            1247953
29                                   Mizoram            1097206
30                                Chandigarh            1055450
31                                    Sikkim             610577
32  Dadra and Nagar Haveli and Daman and Diu             585764
33               Andaman and Nicobar Islands             380581
34                                    Ladakh             274000
35                               Lakshadweep              64473
36                                     India         1210569573

                                                                  \
   National Share (%) Decadal growth(2001–2012) Rural population
0                 NaN                     20.2%        155317278
1                 NaN                       16%         61556074
2                 NaN                     25.4%         92341436
3                 NaN                     13.8%         62183113
4                 NaN                     20.3%         52557404
5                 NaN                     15.6%         37229590
6                 NaN                     21.3%         51500352
7                 NaN                     15.6%         37469335
8                 NaN                     19.3%         34694609
9                 NaN                     11.0%         34966693
10                NaN                     14.0%         34970562
11                NaN                    13.58%         21395009
12                NaN                      4.9%         17471135
13                NaN                     22.4%         25055073
14                NaN                     17.1%         26807034
15                NaN                    13.89%         17344192
16                NaN                     22.6%         19607961
17                NaN                     19.9%         16509359
18                NaN                     21.2%           419042
19                NaN                     23.6%          9064220
20                NaN                     18.8%          7036954
21                NaN                     12.9%          6176050
22                NaN                     14.8%          2712464
23                NaN                     27.9%          2371439
24                NaN                     24.5%          1793875
25                NaN                     −0.6%          1407536
26                NaN                      8.2%           551731
27                NaN                     26.0%          1066358
28                NaN                     28.1%           395200
29                NaN                     23.5%           525435
30                NaN                     17.2%            28991
31                NaN                     12.9%           456999
32                NaN                     55.1%           243510
33                NaN                      6.9%           237093
34                NaN                     17.8%            43840
35                NaN                      6.3%            14141
36               100%                     17.7%        833463448

                                                                            \
   Percent rural Urban population Percent urban      Population Density[a]
0            NaN         44495063           NaN      828/km2 (2,140/sq mi)
1            NaN         50818259           NaN        365/km2 (950/sq mi)
2            NaN         11758016           NaN    1,102/km2 (2,850/sq mi)
3            NaN         29093002           NaN    1,029/km2 (2,670/sq mi)
4            NaN         20069405           NaN        236/km2 (610/sq mi)
5            NaN         34917440           NaN      555/km2 (1,440/sq mi)
6            NaN         17048085           NaN        201/km2 (520/sq mi)
7            NaN         23625962           NaN        319/km2 (830/sq mi)
8            NaN         25745083           NaN        308/km2 (800/sq mi)
9            NaN         14610410           NaN        303/km2 (780/sq mi)
10           NaN          7003656           NaN        269/km2 (700/sq mi)
11           NaN         13608665           NaN        312/km2 (810/sq mi)
12           NaN         15934926           NaN      859/km2 (2,220/sq mi)
13           NaN          7933061           NaN      414/km2 (1,070/sq mi)
14           NaN          4398542           NaN      398/km2 (1,030/sq mi)
15           NaN         10399146           NaN      551/km2 (1,430/sq mi)
16           NaN          5937237           NaN        189/km2 (490/sq mi)
17           NaN          8842103           NaN      573/km2 (1,480/sq mi)
18           NaN         16368899           NaN  11,297/km2 (29,260/sq mi)
19           NaN          3202812           NaN        297/km2 (770/sq mi)
20           NaN          3049338           NaN        189/km2 (490/sq mi)
21           NaN           688552           NaN        123/km2 (320/sq mi)
22           NaN           961453           NaN        350/km2 (910/sq mi)
23           NaN           595450           NaN        132/km2 (340/sq mi)
24           NaN           776515           NaN        122/km2 (320/sq mi)
25           NaN           570966           NaN        119/km2 (310/sq mi)
26           NaN           906814           NaN      394/km2 (1,020/sq mi)
27           NaN           317369           NaN          17/km2 (44/sq mi)
28           NaN           852753           NaN    2,598/km2 (6,730/sq mi)
29           NaN           571771           NaN         52/km2 (130/sq mi)
30           NaN          1026459           NaN   9,252/km2 (23,960/sq mi)
31           NaN           153578           NaN         86/km2 (220/sq mi)
32           NaN           342254           NaN      970/km2 (2,500/sq mi)
33           NaN           143488           NaN         46/km2 (120/sq mi)
34           NaN           230160           NaN        2.8/km2 (7.3/sq mi)
35           NaN            50332           NaN    2,013/km2 (5,210/sq mi)
36        68.84%        377106125        31.16%        382/km2 (990/sq mi)


   Sex ratio
0        912
1        929
2        918
3        953
4        931
5        996
6        928
7        973
8        919
9        993
10       979
11       988
12      1084
13       948
14       958
15       895
16       991
17       879
18       868
19       890
20       963
21       972
22       960
23       989
24       992
25       931
26       973
27       938
28      1037
29       976
30       818
31       890
32       711
33       876
34       853
35       946
36       940

In [4]:
df_1[1].head()

  List of states and union territories of India by population(2011 Census of India)  \
                                                                               Rank
0                                             1 (S1)
1                                             2 (S2)
2                                             3 (S3)
3                                             4 (S4)
4                                             5 (S5)

                                                                  \
  State or Union Territory Population[18][19] National Share (%)
0            Uttar Pradesh          199812341                NaN
1              Maharashtra          112374333                NaN
2                    Bihar          104099452                NaN
3              West Bengal           91276115                NaN
4           Madhya Pradesh           72626809                NaN

                                                                             \
  Decadal growth(2001–2012) Rural population Percent rural Urban population
0                     20.2%        155317278           NaN         44495063
1                       16%         61556074           NaN         50818259
2                     25.4%         92341436           NaN         11758016
3                     13.8%         62183113           NaN         29093002
4                     20.3%         52557404           NaN         20069405


  Percent urban    Population Density[a] Sex ratio
0           NaN    828/km2 (2,140/sq mi)       912
1           NaN      365/km2 (950/sq mi)       929
2           NaN  1,102/km2 (2,850/sq mi)       918
3           NaN  1,029/km2 (2,670/sq mi)       953
4           NaN      236/km2 (610/sq mi)       931

Null values are there in National Share (%),Percent rural,Percent Urban columns,so we will remove this columns.

In [5]:
df_1[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 11 columns):
 #   Column                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                          --------------  -----
 0   (List of states and union territories of India by population(2011 Census of India), Rank)                       37 non-null     object
 1   (List of states and union territories of India by population(2011 Census of India), State or Union Territory)   37 non-null     object
 2   (List of states and union territories of India by population(2011 Census of India), Population[18][19])         37 non-null     object
 3   (List of states and union territories of India by population(2011 Census of India), National Share (%))         1 non-null      object
 4   (List of states and union territories of India by population(2011 Census of India), Decadal growth(2001–2012))  37 non-null     object
 5   (List of states and union territories of India by population(2011 Census of India), Rural population)           37 non-null     int64
 6   (List of states and union territories of India by population(2011 Census of India), Percent rural)              1 non-null      object
 7   (List of states and union territories of India by population(2011 Census of India), Urban population)           37 non-null     int64
 8   (List of states and union territories of India by population(2011 Census of India), Percent urban)              1 non-null      object
 9   (List of states and union territories of India by population(2011 Census of India), Population Density[a])      37 non-null     object
 10  (List of states and union territories of India by population(2011 Census of India), Sex ratio)                  37 non-null     int64
dtypes: int64(3), object(8)
memory usage: 3.3+ KB

In [6]:
df_1[1].isnull().sum()

List of states and union territories of India by population(2011 Census of India)  Rank                          0
                                                                                   State or Union Territory      0
                                                                                   Population[18][19]            0
                                                                                   National Share (%)           36
                                                                                   Decadal growth(2001–2012)     0
                                                                                   Rural population              0
                                                                                   Percent rural                36
                                                                                   Urban population              0
                                                                                   Percent urban                36
                                                                                   Population Density[a]         0
                                                                                   Sex ratio                     0
dtype: int64

In [7]:
df_1[1].dtypes

List of states and union territories of India by population(2011 Census of India)  Rank                         object
                                                                                   State or Union Territory     object
                                                                                   Population[18][19]           object
                                                                                   National Share (%)           object
                                                                                   Decadal growth(2001–2012)    object
                                                                                   Rural population              int64
                                                                                   Percent rural                object
                                                                                   Urban population              int64
                                                                                   Percent urban                object
                                                                                   Population Density[a]        object
                                                                                   Sex ratio                     int64
dtype: object

In [8]:
df_1[1]=df_1[1].dropna(axis=1)
df_1[1] = df_1[1].reset_index(drop=True)
df_1[1]

   List of states and union territories of India by population(2011 Census of India)  \
                                                                                Rank
0                                              1 (S1)
1                                              2 (S2)
2                                              3 (S3)
3                                              4 (S4)
4                                              5 (S5)
5                                              6 (S6)
6                                              7 (S7)
7                                              8 (S8)
8                                              9 (S9)
9                                            10 (S10)
10                                           11 (S11)
11                                           12 (S12)
12                                           13 (S13)
13                                           14 (S14)
14                                           15 (S15)
15                                           16 (S16)
16                                           17 (S17)
17                                           18 (S18)
18                                           19 (UT1)
19                                           20 (UT2)
20                                           21 (S19)
21                                           22 (S20)
22                                           23 (S21)
23                                           24 (S22)
24                                           25 (S23)
25                                           26 (S24)
26                                           27 (S25)
27                                           28 (S26)
28                                           29 (UT3)
29                                           30 (S27)
30                                           31 (UT4)
31                                           32 (S28)
32                                           33 (UT5)
33                                           34 (UT6)
34                                           35 (UT7)
35                                           36 (UT8)
36                                              Total

                                                                 \
                    State or Union Territory Population[18][19]
0                              Uttar Pradesh          199812341
1                                Maharashtra          112374333
2                                      Bihar          104099452
3                                West Bengal           91276115
4                             Madhya Pradesh           72626809
5                                 Tamil Nadu           72147030
6                                  Rajasthan           68548437
7                                  Karnataka           61095297
8                                    Gujarat           60439692
9                             Andhra Pradesh      49,577,103[b]
10                                    Odisha           41974219
11                                 Telangana           35003674
12                                    Kerala           33406061
13                                 Jharkhand           32988134
14                                     Assam           31205576
15                                    Punjab           27743338
16                              Chhattisgarh           25545198
17                                   Haryana           25351462
18                              NCT of Delhi           16787941
19                         Jammu and Kashmir           12267032
20                               Uttarakhand           10086292
21                          Himachal Pradesh            6864602
22                                   Tripura            3673917
23                                 Meghalaya            2966889
24                                Manipur[c]            2570390
25                                  Nagaland            1978502
26                                       Goa            1458545
27                         Arunachal Pradesh            1383727
28                                Puducherry            1247953
29                                   Mizoram            1097206
30                                Chandigarh            1055450
31                                    Sikkim             610577
32  Dadra and Nagar Haveli and Daman and Diu             585764
33               Andaman and Nicobar Islands             380581
34                                    Ladakh             274000
35                               Lakshadweep              64473
36                                     India         1210569573

                                                                \
   Decadal growth(2001–2012) Rural population Urban population
0                      20.2%        155317278         44495063
1                        16%         61556074         50818259
2                      25.4%         92341436         11758016
3                      13.8%         62183113         29093002
4                      20.3%         52557404         20069405
5                      15.6%         37229590         34917440
6                      21.3%         51500352         17048085
7                      15.6%         37469335         23625962
8                      19.3%         34694609         25745083
9                      11.0%         34966693         14610410
10                     14.0%         34970562          7003656
11                    13.58%         21395009         13608665
12                      4.9%         17471135         15934926
13                     22.4%         25055073          7933061
14                     17.1%         26807034          4398542
15                    13.89%         17344192         10399146
16                     22.6%         19607961          5937237
17                     19.9%         16509359          8842103
18                     21.2%           419042         16368899
19                     23.6%          9064220          3202812
20                     18.8%          7036954          3049338
21                     12.9%          6176050           688552
22                     14.8%          2712464           961453
23                     27.9%          2371439           595450
24                     24.5%          1793875           776515
25                     −0.6%          1407536           570966
26                      8.2%           551731           906814
27                     26.0%          1066358           317369
28                     28.1%           395200           852753
29                     23.5%           525435           571771
30                     17.2%            28991          1026459
31                     12.9%           456999           153578
32                     55.1%           243510           342254
33                      6.9%           237093           143488
34                     17.8%            43840           230160
35                      6.3%            14141            50332
36                     17.7%        833463448        377106125


        Population Density[a] Sex ratio
0       828/km2 (2,140/sq mi)       912
1         365/km2 (950/sq mi)       929
2     1,102/km2 (2,850/sq mi)       918
3     1,029/km2 (2,670/sq mi)       953
4         236/km2 (610/sq mi)       931
5       555/km2 (1,440/sq mi)       996
6         201/km2 (520/sq mi)       928
7         319/km2 (830/sq mi)       973
8         308/km2 (800/sq mi)       919
9         303/km2 (780/sq mi)       993
10        269/km2 (700/sq mi)       979
11        312/km2 (810/sq mi)       988
12      859/km2 (2,220/sq mi)      1084
13      414/km2 (1,070/sq mi)       948
14      398/km2 (1,030/sq mi)       958
15      551/km2 (1,430/sq mi)       895
16        189/km2 (490/sq mi)       991
17      573/km2 (1,480/sq mi)       879
18  11,297/km2 (29,260/sq mi)       868
19        297/km2 (770/sq mi)       890
20        189/km2 (490/sq mi)       963
21        123/km2 (320/sq mi)       972
22        350/km2 (910/sq mi)       960
23        132/km2 (340/sq mi)       989
24        122/km2 (320/sq mi)       992
25        119/km2 (310/sq mi)       931
26      394/km2 (1,020/sq mi)       973
27          17/km2 (44/sq mi)       938
28    2,598/km2 (6,730/sq mi)      1037
29         52/km2 (130/sq mi)       976
30   9,252/km2 (23,960/sq mi)       818
31         86/km2 (220/sq mi)       890
32      970/km2 (2,500/sq mi)       711
33         46/km2 (120/sq mi)       876
34        2.8/km2 (7.3/sq mi)       853
35    2,013/km2 (5,210/sq mi)       946
36        382/km2 (990/sq mi)       940

So we have removed null values columns National Share (%),Percent rural,Percent urban columns.

# 2.LITERACY RATE IN EACH STATE

In [9]:
url="https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate"
df_2=pd.read_html(url)

In [10]:
df_2[1]

                   State or UT Census 2011[2]                \
                   State or UT        Average   Male Female
0                        India          74.04  82.14  65.46
1              A&N islands[UT]          86.63  90.27  82.43
2            Andhra Pradesh[a]          67.02  74.88  59.15
3            Arunachal Pradesh          65.38  72.55  57.70
4                        Assam          72.19  77.85  66.27
5                        Bihar          61.80  71.20  51.50
6                 Chhattisgarh          70.28  80.27  60.24
7               Chandigarh[UT]          86.05  89.99  81.19
8   Dadra and Nagar Haveli[UT]          76.34  85.17  64.32
9              Daman & Diu[UT]          87.10  91.54  79.55
10                   Delhi[UT]          86.21  90.94  80.76
11                         Goa          88.70  92.65  84.66
12                     Gujarat          78.03  85.75  69.68
13                     Haryana          75.55  84.06  65.94
14            Himachal Pradesh          82.80  89.53  75.93
15           Jammu and Kashmir          67.16  76.75  56.43
16                   Jharkhand          66.41  76.84  55.42
17                   Karnataka          75.36  82.47  68.08
18                      Kerala          94.00  96.11  91.07
19             Lakshadweep[UT]          91.85  95.56  87.95
20              Madhya Pradesh          69.32  78.73  59.24
21                 Maharashtra          82.34  88.38  75.87
22                     Manipur          76.94  83.58  70.26
23                    Meghalya          74.43  75.95  72.89
24                     Mizoram          91.33  93.35  89.27
25                    Nagaland          79.55  82.75  76.11
26                      Odisha          72.87  81.59  64.01
27              Puducherry[UT]          85.85  91.26  80.67
28                      Punjab          75.84  80.44  70.73
29                   Rajasthan          66.11  79.19  52.12
30                      Sikkim          81.42  86.55  75.61
31                  Tamil Nadu          80.09  86.77  73.44
32                   Telangana              –      –      –
33                     Tripura          87.22  92.53  82.73
34                 Uttarakhand          78.82  87.40  70.01
35               Uttar Pradesh          67.68  77.28  57.18
36                 West Bengal          76.36  81.69  70.54

   NSO survey (2017)[3]
                Average   Male Female
0                 77.70  84.70  70.30
1                 86.27  90.11  81.84
2                 66.90  73.40  59.50
3                 66.95  73.40  59.50
4                 85.90  90.10  81.20
5                 70.90  79.70  60.50
6                 77.30  85.40  68.80
7                 86.43  90.54  81.38
8                 77.65  86.46  77.65
9                 87.07  91.48  87.07
10                88.70  82.40  93.70
11                87.40  92.81  81.84
12                82.40  89.50  74.80
13                80.40  88.00  71.30
14                86.60  92.90  80.50
15                77.30  85.70  68.00
16                74.30  83.00  64.70
17                77.20  83.40  70.50
18                96.20  97.40  95.20
19                92.28  96.11  88.25
20                73.70  81.20  65.50
21                84.80  90.70  78.40
22                79.85  86.49  73.17
23                75.48  77.17  73.78
24                91.58  93.72  89.40
25                80.11  83.29  80.11
26                77.30  84.00  70.30
27                86.55  92.12  86.55
28                83.70  88.50  78.50
29                69.70  80.80  57.60
30                82.20  87.29  76.43
31                82.90  87.90  77.90
32                72.80  80.50  65.10
33                87.75  92.18  83.15
34                87.60  94.30  80.70
35                73.00  81.80  63.40
36                80.50  84.80  76.10

In [11]:
df_2[1].head()

         State or UT Census 2011[2]               NSO survey (2017)[3]         \
         State or UT        Average   Male Female              Average   Male
0              India          74.04  82.14  65.46                77.70  84.70
1    A&N islands[UT]          86.63  90.27  82.43                86.27  90.11
2  Andhra Pradesh[a]          67.02  74.88  59.15                66.90  73.40
3  Arunachal Pradesh          65.38  72.55  57.70                66.95  73.40
4              Assam          72.19  77.85  66.27                85.90  90.10


  Female
0  70.30
1  81.84
2  59.50
3  59.50
4  81.20

In [12]:
df_2[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   (State or UT, State or UT)       37 non-null     object
 1   (Census 2011[2], Average)        37 non-null     object
 2   (Census 2011[2], Male)           37 non-null     object
 3   (Census 2011[2], Female)         37 non-null     object
 4   (NSO survey (2017)[3], Average)  37 non-null     float64
 5   (NSO survey (2017)[3], Male)     37 non-null     float64
 6   (NSO survey (2017)[3], Female)   37 non-null     float64
dtypes: float64(3), object(4)
memory usage: 2.1+ KB

In [13]:
df_2[1].shape

(37, 7)

In [14]:
df_2[1].isnull().sum()

State or UT           State or UT    0
Census 2011[2]        Average        0
                      Male           0
                      Female         0
NSO survey (2017)[3]  Average        0
                      Male           0
                      Female         0
dtype: int64

# 3.AREA OF EACH STATE

In [15]:
url="https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area"
df_3=pd.read_html(url)

In [16]:
df_3[1]

,Rank,State (S) / Union Territory (UT),Area (km2),Region,National share (%),Note
0,1 (S1),Rajasthan,342239,Western,10.414,NaN
1,2 (S2),Madhya Pradesh,308252,Central,9.376,[note 1]
2,3 (S3),Maharashtra,307713,Western,9.359,NaN
3,4 (S4),Uttar Pradesh,240928,Northern,7.328,NaN
4,5 (S5),Gujarat,196024,Western,5.962,NaN
5,6 (S6),Karnataka,191791,Southern,5.833,NaN
6,7 (S7),Andhra Pradesh,162975,Southern,4.957,[4][note 2]
7,8 (S8),Odisha,155707,Eastern,4.736,NaN
8,9 (S9),Chhattisgarh,135192,Central,4.112,[note 3]
9,10 (S10),Tamil Nadu,130058,Southern,3.956,NaN
10,11 (S11),Telangana,112077,Southern,3.409,NaN
11,12 (S12),Bihar,94163,Eastern,2.864,NaN
12,13 (S13),West Bengal,88752,Eastern,2.700,NaN
13,14 (S14),Arunachal Pradesh,83743,Northeastern,2.548,NaN
14,15 (S15),Jharkhand,79716,Eastern,2.424,NaN
15,16 (S16),Assam,78438,Northeastern,2.386,NaN
16,17 (UT1),Ladakh,"59,146(166,698)",Northern,1.800(5.079),[note 4]
17,18 (S17),Himachal Pradesh,55673,Northern,1.693,NaN
18,19 (S18),Uttarakhand,53483,Northern,1.626,NaN
19,20 (S19),Punjab,50362,Northern,1.531,NaN
20,21(S20),Haryana,44212,Northern,1.344,NaN
21,22 (UT2),Jammu and Kashmir,"42,241(55,538)",Northern,1.285(1.689),[note 5]
22,23 (S21),Kerala,38863,Southern,1.182,NaN
23,24 (S22),Meghalaya,22429,Northeastern,0.682,NaN
24,25 (S23),Manipur,22327,Northeastern,0.680,NaN
25,26 (S24),Mizoram,21081,Northeastern,0.642,NaN
26,27 (S25),Nagaland,16579,Northeastern,0.505,NaN
27,28 (S26),Tripura,10491,Northeastern,0.320,NaN
28,29 (UT3),Andaman and Nicobar Islands,8249,Bay of Bengal,0.251,NaN
29,30 (S27),Sikkim,7096,Northeastern,0.217,NaN
30,31 (S28),Goa,3702,Western,0.112,NaN
31,32 (UT4),Delhi,1484,Northern,0.045,NaN
32,33 (UT5),Dadra and Nagar Haveli and Daman and Diu,603,Western,0.018,[5]
33,34 (UT6),Puducherry,479,Southern,0.015,[note 6]
34,35 (UT7),Chandigarh,114,Northern,0.003,NaN
35,36 (UT8),Lakshadweep,32,Arabian Sea,0.001,NaN
36,Total,India,"3,287,263 (3,166,414)[a]",NaN,100 (96.323),NaN

In [17]:
df_3[1].head()

,Rank,State (S) / Union Territory (UT),Area (km2),Region,National share (%),Note
0,1 (S1),Rajasthan,342239,Western,10.414,NaN
1,2 (S2),Madhya Pradesh,308252,Central,9.376,[note 1]
2,3 (S3),Maharashtra,307713,Western,9.359,NaN
3,4 (S4),Uttar Pradesh,240928,Northern,7.328,NaN
4,5 (S5),Gujarat,196024,Western,5.962,NaN

In [18]:
df_3[1].drop('Note',axis=1,inplace=True)

In [19]:
df_3[1].head()

,Rank,State (S) / Union Territory (UT),Area (km2),Region,National share (%)
0,1 (S1),Rajasthan,342239,Western,10.414
1,2 (S2),Madhya Pradesh,308252,Central,9.376
2,3 (S3),Maharashtra,307713,Western,9.359
3,4 (S4),Uttar Pradesh,240928,Northern,7.328
4,5 (S5),Gujarat,196024,Western,5.962

In [20]:
df_3[1].shape

(37, 5)

In [21]:
df_3[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              37 non-null     object
 1   State (S) / Union Territory (UT)  37 non-null     object
 2   Area (km2)                        37 non-null     object
 3   Region                            36 non-null     object
 4   National share (%)                37 non-null     object
dtypes: object(5)
memory usage: 1.6+ KB

In [22]:
df_3[1].isnull().sum()

Rank                                0
State (S) / Union Territory (UT)    0
Area (km2)                          0
Region                              1
National share (%)                  0
dtype: int64

WE have null vaues in Region column,so we will remove it.

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
lab_enc=LabelEncoder()

In [25]:
df3=lab_enc.fit_transform(df_3[1]['Region'])
pd.Series(df3)

0     7
1     2
2     7
3     5
4     7
5     6
6     6
7     3
8     2
9     6
10    6
11    3
12    3
13    4
14    3
15    4
16    5
17    5
18    5
19    5
20    5
21    5
22    6
23    4
24    4
25    4
26    4
27    4
28    1
29    4
30    7
31    5
32    7
33    6
34    5
35    0
36    8
dtype: int32

In [26]:
df_3[1]['Region']=df3
df_3[1]

,Rank,State (S) / Union Territory (UT),Area (km2),Region,National share (%)
0,1 (S1),Rajasthan,342239,7,10.414
1,2 (S2),Madhya Pradesh,308252,2,9.376
2,3 (S3),Maharashtra,307713,7,9.359
3,4 (S4),Uttar Pradesh,240928,5,7.328
4,5 (S5),Gujarat,196024,7,5.962
5,6 (S6),Karnataka,191791,6,5.833
6,7 (S7),Andhra Pradesh,162975,6,4.957
7,8 (S8),Odisha,155707,3,4.736
8,9 (S9),Chhattisgarh,135192,2,4.112
9,10 (S10),Tamil Nadu,130058,6,3.956
10,11 (S11),Telangana,112077,6,3.409
11,12 (S12),Bihar,94163,3,2.864
12,13 (S13),West Bengal,88752,3,2.700
13,14 (S14),Arunachal Pradesh,83743,4,2.548
14,15 (S15),Jharkhand,79716,3,2.424
15,16 (S16),Assam,78438,4,2.386
16,17 (UT1),Ladakh,"59,146(166,698)",5,1.800(5.079)
17,18 (S17),Himachal Pradesh,55673,5,1.693
18,19 (S18),Uttarakhand,53483,5,1.626
19,20 (S19),Punjab,50362,5,1.531
20,21(S20),Haryana,44212,5,1.344
21,22 (UT2),Jammu and Kashmir,"42,241(55,538)",5,1.285(1.689)
22,23 (S21),Kerala,38863,6,1.182
23,24 (S22),Meghalaya,22429,4,0.682
24,25 (S23),Manipur,22327,4,0.680
25,26 (S24),Mizoram,21081,4,0.642
26,27 (S25),Nagaland,16579,4,0.505
27,28 (S26),Tripura,10491,4,0.320
28,29 (UT3),Andaman and Nicobar Islands,8249,1,0.251
29,30 (S27),Sikkim,7096,4,0.217
30,31 (S28),Goa,3702,7,0.112
31,32 (UT4),Delhi,1484,5,0.045
32,33 (UT5),Dadra and Nagar Haveli and Daman and Diu,603,7,0.018
33,34 (UT6),Puducherry,479,6,0.015
34,35 (UT7),Chandigarh,114,5,0.003
35,36 (UT8),Lakshadweep,32,0,0.001
36,Total,India,"3,287,263 (3,166,414)[a]",8,100 (96.323)

In [27]:
df_3[1].isnull().sum()

Rank                                0
State (S) / Union Territory (UT)    0
Area (km2)                          0
Region                              0
National share (%)                  0
dtype: int64